*{
  margin: 0px;
  padding: 0px;
  background-color: #0a0a0a;
  
}

.heading{
  font-family: "Bungee Spice", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  padding: 25px;
}

h1{
 text-shadow: 2px 2px 6px #be3600;
 transition: text-shadow, 0.27s;
}

h1:hover{
  text-shadow: 2px 2px 6px #be3600, 2px 2px 8px #FF5F1F;
}

li{
  max-width: fit-content;
  list-style: none;
  /* display: block;
  width: 100%; */
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

.teamInfo>div{
display: flex;
gap: 20px;
}

.teamInfo{
  font-size: 1.2rem;
   max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin: 9px;
  padding: 18px;
  color: white;
  width: auto;
}

.wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.resultContainer{
  /* box-sizing: border-box; */
 border: 3px solid #be3600;
 box-shadow: 2px 2px 8px #be3600;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 justify-content: center;
 align-items: center;
 max-width: fit-content;
 height: 20vh;
 margin: 9px;
 padding: 18px;
 color: white;
 width: auto;
}

h2{
  padding-bottom: 10px;
  color: #FF5F1F;
  text-align: center;
}

.player{
  padding-bottom: 10px;
  color: #FF5F1F;
  text-align: center;
  padding: 20px;
}

.playerPrice{
  padding-bottom: 10px;
  color: #FF5F1F;
  text-align: center;
  /* padding: 20px; */
  /* padding-top: 2px; */
}

.teamContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  width: 20%;
  display: flex;
  gap: 15px;
}

.addTeamBtn{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px;
  /* margin: 19px; */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.addTeamBtn:hover{
 box-shadow: 2px 2px 6px #be3600;
 box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
 transform: scale(1.05); /* Slight grow effect */
}

.addTeamBtn:active{
  background-color: #2a2a2a;
}

.endAuctionBtn{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  /* font-weight: bolder; */
  /* border: 3px solid black;
  box-shadow: 2px 2px 8px black; 
  background-color: #be3600;  */
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px;
  /* margin: 19px; */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.endAuctionBtn:hover{
/* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); 
 transform: scale(1.05);  */
 box-shadow: 2px 2px 6px #be3600;
 box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
 transform: scale(1.05); /* Slight grow effect */
}

.endAuctionBtn:active{
  background-color: #2a2a2a;
}

.calculateResult{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  /* font-weight: bolder; */
  border: 3px solid black;
  box-shadow: 2px 2px 8px black; 
  background-color: #be3600; 
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  /* margin: 19px; */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.calculateResult:hover{
  /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); 
   transform: scale(1.05);  */
   box-shadow: 2px 2px 6px #be3600;
   box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
   transform: scale(1.05); /* Slight grow effect */
  }

  .calculateResult:active{
    background-color: #2a2a2a;
  }

label{
  color: white;
  /* padding: 10px; */
  padding: 0px 20px;

}

input{
  padding: 5px;
  /* background-color: white; */
  box-shadow: 2px 2px 6px #be3600;
  border-radius: 10px;
  color: white;
  border: 2px solid #ff4d00;
}

input:active{
  box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00;
}


.addTeamForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  gap: 15px;
}

.submitTeam{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: 3px solid #be3600;
    box-shadow: 2px 2px 8px #be3600;
    border-radius: 10px;
    padding: 5px 14px;
    margin-top: 2px;
}

.submitTeam:hover{
  box-shadow: 2px 2px 6px #be3600;
  box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
  transform: scale(1.05); /* Slight grow effect */
}
.submitBid{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: 3px solid #be3600;
    box-shadow: 2px 2px 8px #be3600;
    border-radius: 10px;
    padding: 5px 14px;
    margin-top: 2px;
}

.submitBid:hover{
  box-shadow: 2px 2px 6px #be3600;
  box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
  transform: scale(1.05); /* Slight grow effect */
}


.teamList:hover{
  text-decoration: underline;
  cursor: pointer;
}

.playersHeading{
  padding: 10px;
  text-align: center;
}

.playerList{
  color: white;
}

.players{
 
  font-size: 1.2rem;
  width: 20%;
  max-width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 9px;
 padding: 18px;
 border: 3px solid #be3600;
 box-shadow: 2px 2px 8px #be3600;
 border-radius: 10px;
 color: white;
}

.playerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}

.dropDown{
  color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.teamList{
  position: relative;
}

.dropDown-open{
  position: absolute;
  max-height: 700px;
  top: 100%;
  left: 0%;
  width: 142px;
   z-index: 10;
   border: 3px solid #be3600;
   border-top: none;
   box-shadow: 2px 2px 8px #be3600, 
   0px -10px 10px -10px #000 ;
   padding: 15px;
}

.bid{
  padding: 22px;
}

.bidContainer{
  display: flex;
}

.bidBtn{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: white;
  width: 100px;
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  /* margin: 19px; */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.bidBtn:hover{
 box-shadow: 2px 2px 6px #be3600;
 box-shadow: 4px 4px 15px #ff4d00, 0 0 10px #ff4d00; /* More intense, glowing shadow */
 transform: scale(1.05); /* Slight grow effect */
}

.bidBtn:active{
  background-color: #2a2a2a;
}
.bidForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #be3600;
  box-shadow: 2px 2px 8px #be3600;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  gap: 15px;
}
